{% extends 'sher/base.html' %}

{% block content %}

{% if not services %}
    <h1>There are no services yet!</h1>
    <p>You can use the admin interface to add some services, currently supported services are: <strong>youtube, facebook, twitter and flickr</strong>.</p>
{% else %}
<ul>
{% for s in services%}
    <li> 
        <h3>{{ s }} </h3>
        <hr>
        <a href="{{ s.get_authorize_url }}" title="{{ s }} authorize.">Authorize {{ s }}</a>

    </li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
